{% load staticfiles %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/main/main.css' %}"/>
<link rel="stylesheet" href="{% static 'css/main/navbar.css' %}"/>
<link rel="stylesheet" href="{% static 'css/rules/main.css' %}"/>
<link rel="stylesheet" href="{% static 'css/main/devpost.css' %}"/>

<title>Rules and Guidelines</title>

</head>
<body>
<span id="devpost-submission-area"></span>
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar" style="background-color: #23527c;"></span>
        <span class="icon-bar" style="background-color: #23527c;"></span>
        <span class="icon-bar" style="background-color: #23527c;"></span>
      </button>
      <!-- <a class="navbar-brand" href="#"><img id="logo" src=""></a> -->
      <a class="navbar-brand" href="index.html" id="logo"><img src="{% static 'img/ttlogo.png' %}" id="logo"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/login/">Home</a></li>
        <li><a href="{{team_repo}}">{{team_name}}</a></li>
        <li><a target="_blank" href="https://github.com/kjsce-hackathon">Github(KJSCE-HACK)</a></li>
        <li><a target="_blank" href="http://kjscecodecell.com/hackerboard/">Hacker Board</a></li>
        <li><a href=".">Rules</a></li>
        <li><a href="../schedule/">Schedule</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
        <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav> 
<div class="container">
	<div class="row rules-row">
		<div class="col-sm-10 col-sm-offset-1">
			<h2>Code of Conduct</h2>
			<span id="rules-area">
			</span>
		</div>
	</div>
	<!--
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h2>Submissions</h2>

		</div>
	</div>
	-->
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{% static 'js/data.js' %}"></script>
<script src="{% static 'js/devpost.js' %}"></script>
<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/rules/load.js' %}"></script>
</body>
</html>
