.first-row{
	padding-top: 50px;
}
.main-title{
	padding-bottom: 8px;
}
.main-sub-title{
	padding-bottom: 5px;
}
.main-intro-text{
	padding-top: 10px;
	padding-bottom: 15px;

	font-size: 16px;
	font-family: 'Lato', sans-serif;
}
#text-carousel {
  text-align: center;
  font-size:17px;
  color:#337ab7;
  height: auto;
  padding: 12px;
}
.cover-img{
	width: 100%;
}
